# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea
.idea_modules
.idea/workspace.xml
.idea/modules.xml
.idea/vcs.xml
.idea/misc.xml
.idea/scopes.xml
.idea/compiler.xml
.idea/compiler.xml.default
.idea/compiler.xml.template
*.xml

# gradle
build
.gradle
build/*

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
